@use "../../styles/colors";
@use "../../styles/fonts.scss";
@use "../../styles/spacing.scss";
@use "../../styles/breakpoints.scss";
@use "../../styles/mixins";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: spacing.$s1;

  transition-property: transform, background-color;
  transition-duration: 100ms;
  background-color: colors.$green-200;

  &:hover {
    cursor: pointer;
    // transform: scale(1.015);
    transition-property: transform, background-color;
    transition-duration: 200ms;
    background-color: colors.$green-300;
  }

  .content-container {
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    padding: spacing.$s2;
    display: flex;
    flex-direction: column;
    @include breakpoints.md {
      padding: spacing.$s4;
    }

    &.light {
      background-color: rgba(colors.$white-100, 0.9);
      h3 {
        color: colors.$grey-900;
      }
    }
    &.dark {
      background-color: rgba(colors.$grey-950, 0.9);
      h3 {
        color: colors.$purple-100;
      }
    }

    ul {
      text-align: center;
      list-style: none;
    }

    h2 {
      margin: spacing.$s2 0;
      font-size: fonts.$xl;
      color: colors.$green-500;
      text-align: center;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-orange-700,
        colors.$shadow-orange-600
      );
      @include breakpoints.md {
        font-size: fonts.$xl4;
      }
    }
    h3 {
      font-size: fonts.$sm;
      text-align: center;
      // color: colors.$purple-100;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }

    h4 {
      font-size: fonts.$sm;

      color: colors.$white-100;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }

    p {
      font-size: fonts.$sm;
      text-align: center;
      hyphens: auto;
      color: colors.$white-300;
      @include mixins.drop-shadow-md-color(
        colors.$shadow-white-700,
        colors.$shadow-white-600
      );
      @include breakpoints.md {
        font-size: fonts.$base;
      }
    }
  }
}
