@use "../../styles/colors";
@use "../../styles/fonts";
@use "../../styles/mixins";
@use "../../styles/spacing";
@use "../../styles/breakpoints";

.form-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$s2;

  .form-field {
    display: grid;
    margin-bottom: 10px;

    input,
    textarea,
    button {
      all: unset;
      box-sizing: border-box;
    }

    .form-label {
      font-size: fonts.$sm;
      font-weight: 500;
      line-height: 35px;
      color: colors.$white-100;
    }

    .form-message {
      font-size: fonts.$xs;
      color: colors.$white-100;
      opacity: 0.8;
    }

    .login-input {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 0 10px;
      height: 35px;
      line-height: 1;
      font-size: fonts.$sm;
      color: colors.$grey-650;
      background-color: rgba(colors.$white-100, 1);
      box-shadow: 0 0 0 1px colors.$navy-700;

      &:hover {
        box-shadow: 0 0 0 1px colors.$navy-500;
      }

      &:focus {
        box-shadow: 0 0 0 2px colors.$navy-500;
      }

      &::selection {
        background-color: colors.$navy-500;
        color: white;
      }
    }
  }
}
