@use "../../styles/colors";
@use "../../styles/fonts";
@use "../../styles/spacing";

.AccordionRoot {
  margin-top: -1px;
  width: 100%;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* --black-a4 */
  &.light {
    background-color: colors.$grey-200;
    // .AccordionChevron {
    //   color: colors.$grey-900;
    // }
  }
  &.dark {
    background-color: colors.$grey-600;
  }
  button {
    border: none;
  }
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
  &.light {
    background-color: colors.$white-200;
  }
  &.dark {
    background-color: colors.$grey-800;
  }

  &:focus-within {
    position: relative;
    z-index: 1;
    // box-shadow: 0 0 0 2px #424242; /* --mauve-12 */
  }
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: fonts.$s_alternative;
  background-color: colors.$grey-800;
  color: colors.$white-100;
  padding: 0 20px;
  height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  cursor: pointer;

  .AccordionChevron {
    // color: colors.$red-500;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .title {
    width: 100%;
    display: flex;
    // gap: spacing.$s4;
    justify-content: space-between;
    margin-right: spacing.$s5;
    &.light {
      color: colors.$grey-950;
    }
    &.dark {
      color: colors.$white-100;
    }
    .name {
      text-transform: capitalize;

      .total {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        font-weight: 600;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 12px;
        // border: none;
        background-color: colors.$red-400;
        color: colors.$white-100;
        margin-left: 2px;

        // transition: all 0.3s ease-in-out;

        // &:hover {
        //   cursor: pointer;
        //   transform: translateY(-0.25rem) scale(1.1);
        // }
      }
    }
  }

  // .AccordionChevron {
  //   color: colors.$white-100;
  // }

  &.author {
    background-color: rgba($color: colors.$navy-500, $alpha: 0.3);
    &:hover,
    &[data-state="open"] {
      background-color: rgba($color: colors.$navy-500, $alpha: 0.5);
    }
  }
  &.book {
    background-color: rgba($color: colors.$yellow-500, $alpha: 0.3);
    &:hover,
    &[data-state="open"] {
      background-color: rgba($color: colors.$yellow-500, $alpha: 0.5);
    }
  }
  &.quote {
    background-color: rgba($color: colors.$blue-500, $alpha: 0.3);
    &:hover,
    &[data-state="open"] {
      background-color: rgba($color: colors.$blue-500, $alpha: 0.5);
    }
  }
  &.character {
    background-color: rgba($color: colors.$green-500, $alpha: 0.3);
    &:hover,
    &[data-state="open"] {
      background-color: rgba($color: colors.$green-500, $alpha: 0.5);
    }
  }
  &.user {
    background-color: rgba($color: colors.$orange-500, $alpha: 0.3);
    &:hover,
    &[data-state="open"] {
      background-color: rgba($color: colors.$orange-500, $alpha: 0.5);
    }
  }

  // default hover
  &:hover {
    background-color: #f5f5f5; /* --mauve-2 */
  }

  &[data-state="open"] > .AccordionChevron {
    transform: rotate(180deg);
  }
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;

  &.light {
    // background-color: colors.$grey-200;
    color: colors.$grey-800;
  }
  &.dark {
    // background-color: colors.$grey-600;
    color: colors.$white-100;
  }

  .empty {
    font-size: 10px;
  }

  &[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &.author {
    background-color: rgba($color: colors.$navy-500, $alpha: 0.2);
  }
  &.book {
    background-color: rgba($color: colors.$yellow-500, $alpha: 0.2);
  }
  &.quote {
    background-color: rgba($color: colors.$blue-500, $alpha: 0.2);
  }
  &.character {
    background-color: rgba($color: colors.$green-500, $alpha: 0.2);
  }
  &.user {
    background-color: rgba($color: colors.$orange-500, $alpha: 0.2);
  }

  .AccordionContentText {
    padding: 5px;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
