@use "../../styles/colors";
@use "../../styles/spacing";

.switcher {
  border-radius: 50%;
  background-color: colors.$blue-400;
  color: colors.$white-100;
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  width: 28px;
  height: 28px;
  line-height: 0;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.25rem) scale(1.1);
  }
}
