@use "../../styles/colors";
@use "../../styles/fonts.scss";
@use "../../styles/spacing.scss";
@use "../../styles/breakpoints.scss";
@use "../../styles/mixins";

.reaction {
  display: flex;
  gap: spacing.$s2;
  button {
    border-radius: 50%;
    background-color: colors.$blue-400;
    // padding: 0.5rem;
    color: colors.$white-100;
    border: none;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 0;

    &.hate {
      background-color: colors.$orange-500;
    }
    &.love {
      background-color: colors.$pink-400;
    }
    &.dislike {
      background-color: colors.$navy-500;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-0.25rem) scale(1.1);
    }
  }
}
