@use "../src/styles/colors";

.App {
  // width: 100vw;
  // display: flex;
  // justify-content: center;
  // align-items: start;
  // text-align: center;
  .light {
    background-color: colors.$yellow-200;
    color: colors.$white-700;
    // font-size: 40px;
  }

  .dark {
    background-color: colors.$navy-900;
    color: colors.$green-200;
    // font-size: 40px;
  }
}
