@use "../src/styles/colors";

.app {

  .light {
    background-color: colors.$white-100;
    color: colors.$grey-950;
  }

  .dark {
    background-color: colors.$grey-700;
    color: colors.$white-100;
  }
}
