@use "../../styles/colors";
@use "../../styles/fonts";
@use "../../styles/spacing";

/* reset */
// button,
// h3 {
//   all: unset;
// }

.AccordionRoot {
  // border-radius: 6px;
  margin-top: -1px;
  width: 100%;
  // background-color: #e0e0e0; /* --mauve-6 */
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* --black-a4 */
  &.light {
    background-color: colors.$grey-200;
  }
  &.dark {
    background-color: colors.$grey-600;
  }
  button {
    border: none;
  }
}

.AccordionItem {
  overflow: hidden;
  // border-bottom: 1px solid colors.$grey-600;
  &.light {
    background-color: colors.$white-200;
  }
  &.dark {
    background-color: colors.$grey-800;
  }
  margin-top: 1px;

  // &:first-child {
  //   margin-top: 0;
  //   border-top-left-radius: 4px;
  //   border-top-right-radius: 4px;
  // }

  // &:last-child {
  //   border-bottom-left-radius: 4px;
  //   border-bottom-right-radius: 4px;
  // }

  &:focus-within {
    position: relative;
    z-index: 1;
    // box-shadow: 0 0 0 2px #424242; /* --mauve-12 */
  }
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: fonts.$s_alternative;
  background-color: transparent;
  color: colors.$white-100;
  // color: #3700b3; /* --violet-11 */
  padding: 0 20px;
  height: 49px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  // box-shadow: 0 1px 0 #e0e0e0; /* --mauve-6 */
  cursor: pointer;

  .AccordionChevron {
    // color: colors.$red-500;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .title {
    width: 100%;
    display: flex;
    // gap: spacing.$s4;
    justify-content: space-between;
    margin-right: spacing.$s5;
    &.light {
      color: colors.$grey-950;
    }
    &.dark {
      color: colors.$white-100;
    }
    .name {
      text-transform: capitalize;

      .total {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        font-weight: 600;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 12px;
        // border: none;
        background-color: colors.$red-400;
        color: colors.$white-100;
        margin-left: 2px;

        // transition: all 0.3s ease-in-out;

        // &:hover {
        //   cursor: pointer;
        //   transform: translateY(-0.25rem) scale(1.1);
        // }
      }
    }
  }

  &.author {
    .AccordionChevron {
      color: colors.$blue-500;
    }
    &:hover,
    &[data-state="open"] {
      background-color: colors.$blue-500;
      .AccordionChevron {
        color: colors.$white-100;
      }
    }
  }
  &.book {
    .AccordionChevron {
      color: colors.$yellow-500;
    }
    &:hover,
    &[data-state="open"] {
      background-color: colors.$yellow-500;
      .AccordionChevron {
        color: colors.$white-100;
      }
    }
  }
  &.quote {
    .AccordionChevron {
      color: colors.$navy-500;
    }
    &:hover,
    &[data-state="open"] {
      background-color: colors.$navy-500;
      .AccordionChevron {
        color: colors.$white-100;
      }
    }
  }
  &.character {
    .AccordionChevron {
      color: colors.$green-500;
    }
    &:hover,
    &[data-state="open"] {
      background-color: colors.$green-500;
      .AccordionChevron {
        color: colors.$white-100;
      }
    }
  }
  &.user {
    .AccordionChevron {
      color: colors.$orange-500;
    }
    &:hover,
    &[data-state="open"] {
      background-color: colors.$orange-500;
      .AccordionChevron {
        color: colors.$white-100;
      }
    }
  }

  // default hover
  &:hover {
    background-color: #f5f5f5; /* --mauve-2 */
  }

  &[data-state="open"] > .AccordionChevron {
    transform: rotate(180deg);
  }
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
  color: #757575; /* --mauve-11 */
  background-color: #f5f5f5; /* --mauve-2 */

  &[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  .AccordionContentText {
    // padding: 5px;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
